* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

i {
    color: green;
}

i {
    color: red;
}

b {
    color: pink;
}

p b {
    color: blue !important;
}

p b {
    color: violet;
}

p #intro {
    font-size: 100%;
}

P {
    font-size: 75%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
    padding: 10px;
}

.page {
    border: 1px solid #665544;
    background-color: #efefef;
    padding: inherit;
}