h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #efefef;
}

.example {
    margin-top: 100px;
}

blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid#665544;
    border-bottom: 1px solid #665544;
}