body {
    width: 960px;
    margin: 0 auto;
}

header {
    text-align: center;
}

#content {
    overflow: auto;
    height: 100%;
}

nav, #feature, footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.column1, .column2, .column3 {
    background-color: #efefef;
    width: 280px;
    float: left;
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
    padding: 5px;
}